<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    </script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="icon" type="image/ico" href="/dist/favicon.ico" />
    <title>Honey Explore &mdash; {% block title %}Base{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}<p>Placeholder content</p>{% endblock %}
    </main>
</body>
</html>