<div id="list">
    <h3>
        {% if level != "root" %}
            <a href="#" hx-get="/node/root" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">root</a> -  
        {% endif %}
        {% for lev in level_parts %}
            {% if loop.last %}
                {{ lev }}        
            {% else %}
                <a href="#" hx-get="/node/{{ level_links[loop.index0] }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ lev }}</a>.
            {% endif %}        
        {% endfor %}
    </h3>
    <ul>
        {% for node in nodes %}
            <li>
            {% match node.value %}
                {% when Some with (val) %}
                    {% match val.deprecated %}
                        {% when Some with (deprecated) %}
                            <s>{{ level }}.<b>{{ node.name }}</b></s>
                        {% when None %}
                            <mark>{{ level }}.<b>{{ node.name }}</b></mark>
                    {% endmatch %}

                    {% match val.defined_in %}
                        {% when Some with (defined_in) %}
                            (<small>{{ defined_in }}</small>)<br/>
                        {% when None %}
                    {% endmatch %}

                    {% match val.type %}
                        {% when Some with (_type) %}
                            <small><i>{{ _type }}</i></small>
                        {% when None %}
                    {% endmatch %}

                    {% match val.deprecated %}
                        {% when Some with (deprecated) %}
                            <small><i>{{ deprecated|markdown }}</i></small>
                        {% when None %}
                    {% endmatch %}                    

                    {% match val.brief %}
                        {% when Some with (brief) %}
                            {{ brief|markdown }}
                        {% when None %}
                    {% endmatch %}

                    {% match val.examples %}
                        {% when Some with (examples) %}
                            e.g.  
                            {% match examples %}
                            {% when Examples::SimpleType with (ex) %}
                                <code>{{ ex }}</code>
                            {% when Examples::ArrayType with (exs) %}
                                {% for ex in exs %}
                                    <code>{{ ex }}</code>
                                    {% if !loop.last %}
                                        ,
                                    {% endif %}        
                                {% endfor %}                
                            {% endmatch %}
                        {% when None %}
                    {% endmatch %}

                    {% match val.note %}
                        {% when Some with (note) %}
                            <blockquote>{{ note|markdown }}</blockquote>
                        {% when None %}
                    {% endmatch %}                                        

                    {% match val.used_by %}
                        {% when Some with (datasets) %}
                            <p><b>used by</b>: 
                                {% for d in datasets %}
                                    <a href="#" hx-get="/hnyexists/{{ d }}/{{ level }}.{{ node.name }}" hx-swap="none">{{ d }}</a>
                                    {% if !loop.last %}
                                        ,
                                    {% endif %}        
                                {% endfor %}                
                            </p>
                        {% when None %}
                    {% endmatch %}

                {% when None %}
                    {% if level == "root" %}
                        <a href="#" hx-get="/node/{{ node.name }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ node.name }}</a>
                    {% else %}
                        {{ level }}.<a href="#" hx-get="/node/{{ level }}.{{ node.name }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ node.name }}</a>
                    {% endif %}
                {% endmatch %}
            </li>
        {% endfor %}
    </ul>
</div>