<div id="list">
{% if level != "root" %}
    <h3>
        {% for lev in level_parts %}
            {% if loop.last %}
                {{ lev }}        
            {% else %}
                <a href="#" onclick="treeActive('{{ level_links[loop.index0] }}');" hx-get="/node/{{ level_links[loop.index0] }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ lev }}</a>.
            {% endif %}        
        {% endfor %}
    </h3>
    <ul>
        {% for node in nodes %}
            {% let attribute = level.clone() + "." + node.name.as_str() %} 
            
            {% match node.value %}
                {% when Some with (_) %}
                {% when None %}
                    <li>
                    {{ level }}.<a href="#" onclick="treeActive('{{ attribute }}');" hx-get="/node/{{ attribute }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ node.name }}</a>
                    </li>
            {% endmatch %}
        {% endfor %}

        {% for node in nodes %}
            {% let attribute = level.clone() + "." + node.name.as_str() %} 
            {% match node.value %}
                {% when Some with (val) %}
                <hr/>
                <li>
                    {% match val.deprecated %}
                        {% when Some with (deprecated) %}
                            <s>{{ level }}.<b>{{ node.name }}</b></s>
                        {% when None %}
                            <mark>{{ level }}.<b>{{ node.name }}</b>{% if val.is_template_type() %}.&lt;key&gt;{% endif %}</mark>
                    {% endmatch %}

                    {% match val.defined_in %}
                        {% when Some with (defined_in) %}
                            (<small>{{ defined_in }}</small>)<br/>
                        {% when None %}
                    {% endmatch %}

                    {% match val.deprecated %}
                        {% when Some with (deprecated) %}
                            <i>{{ deprecated|markdown }}</i>
                        {% when None %}
                    {% endmatch %}                    

                    {% match val.brief %}
                        {% when Some with (brief) %}
                            {{ brief|markdown }}
                        {% when None %}
                    {% endmatch %}

                    {% match val.type %}
                        {% when Some with (_type) %}
                            {% include "type.html" %}
                        {% when None %}
                    {% endmatch %}

                    {% if !val.is_complex_type() %}
                        {% match val.examples %}
                            {% when Some with (examples) %}
                                <small>e.g.</small>  
                                {% match examples %}
                                {% when Examples::SimpleType with (ex) %}
                                    <code>{{ ex }}</code>
                                {% when Examples::ArrayType with (exs) %}
                                    {% for ex in exs %}
                                        <code>{{ ex }}</code>
                                        {% if !loop.last %}
                                            ,
                                        {% endif %}        
                                    {% endfor %}                
                                {% endmatch %}                                
                            {% when None %}
                        {% endmatch %}
                    {% endif %}

                    {% match val.note %}
                        {% when Some with (note) %}
                            <blockquote>{{ note|markdown }}</blockquote>
                        {% when None %}
                    {% endmatch %}                                        

                    {% if val.is_template_type() %}
                        {% match val.template_suffixes %}
                            {% when Some with (suffixes) %}
                                <p><b>keys</b>:<small><br/>
                                {% for (suffix,datasets) in suffixes.iter() %}
                                    <mark>{{ suffix }}</mark>:
                                        {% if datasets.len() < 10 %} 
                                            {% include "suffix_usedby.html" %}
                                        {% else %}
                                            <a href="#" hx-get="/suffix_usedby/{{ attribute }}/{{ suffix }}" hx-swap="outerHTML">10+ datasets</a>
                                        {% endif %}
                                    <br/>
                                {% endfor %}
                                </small></p>
                            {% when None %}
                        {% endmatch %}
                    {% else %}
                        {% match val.used_by %}
                            {% when Some with (datasets) %}
                                {% if datasets.len() < 10 %}
                                <p><b>used by</b>:<small>
                                    {% include "usedby.html" %}                
                                </small></p>
                                {% else %}
                                    <p><b>used by</b>:<small> <a href="#" hx-get="/usedby/{{ attribute }}" hx-swap="outerHTML">10+ datasets</a></small></p>
                                {% endif %}
                            {% when None %}
                        {% endmatch %}
                    {% endif %}
                </li>
                {% when None %}
            {% endmatch %}
        {% endfor %}
    </ul>
{% endif %}
</div>