{% if name == "root" %}
    <ul id="myUL">
        {% for c in children.values() %}
            {% if !c.children.is_empty() %}
                {{ c.render().unwrap()|safe }}
            {% endif %}
        {% endfor %}
    </ul>
{% else if self.has_grandchild() == false %}
    <li tags="{{ self.get_tags_string() }}"><a id="{{ path }}" class="blob" onclick='treeSelect(this)' href="#" hx-get="/node/{{ path }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ name }}</a> {{ self.get_tags_string() }}</li>
{% else %}
    <li tags="{{ self.get_tags_string() }}"><a id="{{ path }}" class="caret" onclick='treeSelect(this)' href="#" hx-get="/node/{{ path }}" hx-target="#list" hx-swap="outerHTML" hx-push-url="true">{{ name }}</a> {{ self.get_tags_string() }}
        <ul class="nested">
            {% for c in children.values() %}
                {% if !c.children.is_empty() %}
                    {{ c.render().unwrap()|safe }}
                {% endif %}
            {% endfor %}
        </ul>    
    </li>
{% endif %}
