{% match _type %}
    {% when semconv::Type::Simple with (_) %}
        <b>{{ _type }}</b>
    {% when semconv::Type::Complex with (enum) %}
        {% if enum.allow_custom_values %}
            <b>open enum</b>:
        {% else %}
            <b>enum</b>:
        {% endif %}
        {% if enum.has_briefs() %}
            <ul>
                {% for member in enum.members %}
                    <li><code>{{ member.value }}</code>
                    {% match member.brief %}
                        {% when Some with (brief) %}
                            - {{ brief }}
                        {% when None %}
                    {% endmatch %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% for member in enum.members %}
                <code>{{ member.value }}</code>
                {% if !loop.last %}
                    ,
                {% endif %}        
            {% endfor %}      
        {% endif %}
{% endmatch %}



